/* TABLE OF CONTENTS
==================================================
  #LAYOUT
  #MEDIA QUERYS


/* #LAYOUT
================================================== */

#main_header{}

#main_content{}

#sidebar{
  width: 320px;
  margin: 0px 0 0 670px;
  padding: 20px 10px 0;
}

#detail .post{
  width: 650px;
  float: left;
  margin: 20px 0px 20px 10px;
  border-right: 1px solid #f2f2f2;
  padding: 0 20px 0 0;
}

.container{
  width: 1000px;
  margin: 0 auto;
  position: relative;
  padding: 0;
}

.container:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
