/*
*   MAIN HEADER
* ============================ */

#main_header{
	background-repeat: no-repeat;
	background-position:center;
	overflow: hidden;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: visible;
	z-index: 3;
	position: relative;
}

#main_header h1 a{
	font-size: 50px;
	font-family: 'open_sans-extrabold';
	text-transform: uppercase;
	color: #fff;
	display: block;
	text-align: center;
	padding: 50px 0;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5)
}


/*
*   MAIN MENU
* ============================ */

.nav_container{
	background-color: #4B244C;
	border-top: 1px solid #381939;
	position: relative;
	overflow: visible;
}

.nav_container .main_nav {
	margin-right: 50px;
}

.nav_container .main_nav .menu > li{
	float: left;
}

.nav_container .main_nav .menu > li:first-child{
	border-left: 1px solid #381939;
}

.nav_container .main_nav .menu > li:last-child{
	border-right: 1px solid #583159;
}

.nav_container .main_nav .menu > li > a{
	border-right: 1px solid #381939;
	border-left: 1px solid #583159;
	background-color: #4B244C;
	font-size: 15px;
	color: #fff;
	display: inline-block;
	vertical-align: top;
	padding: 15px 15px;
	text-transform: uppercase;
	font-family: 'open_sans-semibold';
	-webkit-transition: background-color 200ms ease-in-out;
	-moz-transition: background-color 200ms ease-in-out;
	-ms-transition: background-color 200ms ease-in-out;
	-o-transition: background-color 200ms ease-in-out;
	transition: background-color 200ms ease-in-out;
}

.menu-item-has-children ul{
	margin-top: -6px;
	display: none;
	z-index: 2;
	border-radius: 0 0 2px 2px;
	overflow: hidden;
	border-top: 4px solid #391D3A;
	background: #432244;
}
.menu-item-has-children:hover ul{
	display: block;
}
.nav_container .main_nav .menu > li > a:hover,
.nav_container .main_nav .menu  .current-menu-item > a{
	background-color: #5D255E;
}

.login{
	line-height: 55px;
	color: #fff;
	font-size: 31px;
	padding: 0 10px;
	position: absolute;
	right: 0;
}

#search{
	color: #fff;
	font-size: 27px;
	padding: 0 10px;
	position: absolute;
	top: 10px;
	right: 50px;
}

/*
*   SUBMENU
* ============================ */

.sub-menu{
  position: absolute;
  top: 57px;
  left: 0;
  z-index: 1;
  background: #391D3A;
  width: 100%;
}
.sub-menu li {
	float: left;
}
.sub-menu li:first-child a{
	border-top:0;
}
.sub-menu li:last-child a{
	border-bottom:0;
}

.sub-menu a {
	display: block;
	border-left: 1px solid #59265A;
	border-right: 1px solid #371A38;
	font-weight: bold;
	padding: 16px 14px;
	color: #A0A4A9;
	text-transform: uppercase;
	font-size: 12px;
	-webkit-transition: color 200ms ease-in-out;
	-moz-transition: color 200ms ease-in-out;
	-ms-transition: color 200ms ease-in-out;
	-o-transition: color 200ms ease-in-out;
	transition: color 200ms ease-in-out;
}

.sub-menu a:hover{
	color: #fff;
}

.sub-menu .sub-menu{
	display: none !important;
}


/*
*   SELECT MENU
* ============================ */

#menu-select-menu{
	display: none;
	width: 100%;
}

/*
*   SEARCH FORM
* ============================ */

#searchform_container{
	background: #391d3a;
	padding-bottom: 4px;
	position: absolute;
	width: 100%;
	padding: 10px;
	z-index: 2;
	top: 244px;
	-webkit-transition: top 200ms ease-in-out;
	-moz-transition: top 200ms ease-in-out;
	-ms-transition: top 200ms ease-in-out;
	-o-transition: top 200ms ease-in-out;
	transition: top 200ms ease-in-out;

}

#searchform_container.open{
	top: 298px;
}


#searchform {
	width: 1000px;
	margin: 0 auto;
}

#searchform input[type=text]{
	border: none;
	text-indent: 10px;
	font-size: 16px;
	padding: 7px;
	font-family: 'open_sans-italic';
	width: 100%;
	background: transparent;
	border: 1px solid #583159;
	color: #fff;
}

#searchform input[type=submit]{
	display: none;
}


/*
*   CALL TO ACTION
* ============================ */

.call_to_action{
	text-align: center;
	margin: 55px 0 0;
}

.call_to_action .circulo {
	font-size: 70px;
	background-color: #612D62;
	width: 170px;
	height: 170px;
	border-radius: 85px;
	display: inline-block;
	text-align: center;
	color: #fff;
	line-height: 170px;
	-webkit-transition: background-color 200ms ease-in-out;
	-moz-transition: background-color 200ms ease-in-out;
	-ms-transition: background-color 200ms ease-in-out;
	-o-transition: background-color 200ms ease-in-out;
	transition: background-color 200ms ease-in-out;
}

.call_to_action > div{
	display: inline-block;
	vertical-align: top;
	margin: 0 35px;
	text-align: center;
}


.call_to_action h2 a{
	padding: 15px 0;
	font-size: 25px;
	text-transform: uppercase;
	color: #612D62;
    font-family: 'open_sans-semibold';
	display: block;
	text-align: center;
}

.call_to_action .circulo:hover{
	background-color: #744175
}


/*
*   LAST POST
* ============================ */

.last_post{
	margin: 15px 0;
}

.last_post header figure {
	width: 466px;
	height: 254px;
	position: relative;
}

.last_post header figure a{
	position: absolute;
	width: 100%;
	height: 100%;
}


.last_post header figure img{
	width: 466px;
	height: 254px;
}

.last_post .post{
	width: 466px;
	height: 510px;
	margin: 0 15px;
	display: inline-block;
	vertical-align: top;
	position: relative;
}

.last_post h2 {
	margin-bottom: 10px;
}

.last_post h2 a{
	height: 90px;
}

.last_post .post .post_author{
   padding: 10px 0;
   height: 60px;
   margin: 10px 0;
}

.last_post .post .post_author figure,
.last_post .post .post_author figure img{
	width: 40px;
	height: 40px;
	border-radius: 20px;
}

.last_post .post .post_author h4 a{
	display: inline-block;
	vertical-align: top;
	line-height: 40px;
}

.last_post .post .post_author time{
	top: 20px;
}

/*
*   POST CATEGORY
* ============================ */

.post .category{
	background-color: #4B244C;
	color: #fff;
    font-family: 'open_sans-semibold';
	display: inline-block;
	position: absolute;
	left: 10px;
	top: 10px;
	border-bottom: 4px solid #391D3A;
	padding: 5px 10px;
	font-size: 16px;
	-webkit-transition: background-color 200ms ease-in-out;
	-moz-transition: background-color 200ms ease-in-out;
	-ms-transition: background-color 200ms ease-in-out;
	-o-transition: background-color 200ms ease-in-out;
	transition: background-color 200ms ease-in-out;
}

.post .category:hover{
	background-color: #391D3A;
}

/*
*   POST
* ============================ */

.post header{
	position: relative;
}

.post h2{
	font-size: 31px;
	line-height: 45px;
	margin-bottom: 0px;
    font-family: 'open_sans-light';
}

.post h2 a{
	display: block;
}

.post .excerpt{
    font-family: 'open_sans-semibold';
}

#detail .post header figure img,
#detail .post header figure{
	width: 629px;
	height: 343px;
}

#detail  .post h2 {
	margin-bottom: 20px;
}

/*
*   POST AUTHOR
* ============================ */


.post_author{
	padding: 20px 0;
	position: relative;
	height: 110px;
}

.post_author figure,
.post_author h4,
.post_author p{
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	font-family: 'open_sans-italic';
}

.post_author figure{
	float: left;
   width:70px;
   height:70px;
   background: url('../img/thumbnail_person.jpg') no-repeat center;
   background-size: 100%;
   border-radius: 35px;
   overflow: hidden;
   margin-right: 10px;
}

.post_author figure img{
	width:70px;
	height:70px;
	border-radius: 35px;
	margin: 0 10px 10px 0;
}

.post_author h4{
	margin-right: 20px;
}

.post_author h4 a{
	color: #A2A2A2;
	font-family: 'open_sans-italic';
	line-height: 70px;
}

.post_author h4 span{
	line-height: 40px;
}

.post_author .twitter a::before{
	color: #A2A2A2;
	font-size: 21px;
	margin-right: 3px;
	font-style: normal;
	position: relative;
	top: 3px;
}

.post_author .twitter a{
	font-family: 'open_sans-italic';
}

.post_author h4 a span,
.post_author .twitter a{
	color: #612D62;
}

.post_author h4 a span{
	margin-right: 5px;
}

.post_author time{
	color: #A2A2A2;
	font-family: 'open_sans-italic';
	font-size: 16px;
	position: absolute;
	right: 0;
	top: 45px;
}

/*
*   POST TAG
* ============================ */

.post_tags a{
	padding: 10px;
	display: inline-block;
	border: 2px solid #612D62;
	margin: 7px 14px 7px 0;
	background-color: #fff;
	font-size: 15px;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

.post_tags a:hover{
	background-color: #612D62;
	color: #fff;
}

/*
*   WIDGET
* ============================ */


.widget {
margin: 0 0 20px 0;
border-bottom: 1px solid #f2f2f2;
padding: 0 0 20px 0;
font-size: 21px;
}

.widget:last-child {
border-bottom: none;
}

.widget ul li:nth-child(odd) a{
	background-color: #f2f2f2;
}

.widget li a{
	padding: 10px;
	font-size: 18px;
	display: block;
	background: #fff
	-webkit-transition: background-color 200ms ease-in-out;
	-moz-transition: background-color 200ms ease-in-out;
	-ms-transition: background-color 200ms ease-in-out;
	-o-transition: background-color 200ms ease-in-out;
	transition: background-color 200ms ease-in-out;
}

.widget li a:hover,
.widget ul li:nth-child(odd) a:hover{
	background-color: #e7e7e7;
}


.widget .textwidget{
	font-size: 14px;
}

/*
*   COMMENTS
* ============================ */

#commentform input[type="text"],
#commentform input[type="email"],
#commentform input[type="password"]{
	background: #f5f5f5;
	border: 1px solid #bababa;
	padding: 5px;
	width: 100%;
	margin: 0 0 5px;
}


#commentform textarea{
	display: block;
	border: 1px solid #bababa;
	background: #f2f2f2;
	width: 100%;
	  margin: 0 0 5px;
}

#commentform a{
	text-decoration: underline;
  font-family: 'open_sans-semibold';
}


.pages_navigation {
	text-align: center;
}

.pages_navigation a {
  margin: 5px;
  display: inline-block;
  font-size: 14px;
  border: 1px solid #1a1a1a;
  padding: 10px;
	-webkit-transition: background 0.3s, -webkit-transform 0.3s;
	-moz-transition: background 0.3s, -moz-transform 0.3s;
	transition: background 0.3s, transform 0.3s;
}

.pages_navigation a:hover {
    background:#1a1a1a;
    color:#fff;
}

#comments h2{
	font-size: 21px;
}

#comments ol{
	margin: 0;
	padding: 0;
}

#comments ol li{
	padding: 10px;
	border-bottom: 1px solid #dadada;
	border-top: 1px solid #fff;
}

#comments ol li:nth-child(odd){
	background: #f2f2f2;
}

#comments ol article > img{
	float: left;
	margin: 10px 10px 10px 0;
	border-radius: 48px;
}

#comments ol time a{
	font-size: 16px;
    font-family: 'open_sans-semibold';
}

#comments ol h4,
#comments ol time,
#comments ol p{
	margin-left: 105px;
	margin-bottom: 10px;
	display: block;
}

/*
*   GOOGLE MAPS
* ============================ */

.acf-map {
	width: 100%;
	height: 400px;
	border: #ccc solid 1px;
	margin: 10px 0;
}

/*
*   LAST ORGANIZATIONS
* ============================ */

.last_organizations{
	text-align: center;
}

.last_organizations .organization{
	padding: 20px 0;
	margin: 0 28px;
	width: 440px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	height: 510px;
}

/*
*   ORGANIZATION
* ============================ */

.organization{
	padding: 20px 0;
}

.organization figure{
	background: url("../img/thumbnail_org.jpg") no-repeat center;
	background-size: 100%;
	overflow: hidden;
	width: 240px;
	height: 240px;
	display: block;
	margin: 0 auto;
	border-radius: 200px;
	border: 10px solid #612D62;
	box-shadow: 0 0 2px 2px rgba(0,0,0,0.1);
}

.organization figure img{
	width: 240px;
	height: 240px;
}

.organization h2{
	padding: 15px 0;
	font-size: 35px;
	color: #612D62;
  font-family: 'open_sans-extrabold';
	display: block;
	text-align: center;
}

.organization h2 a{
    font-family: 'open_sans-semibold';
}

.organization .social_profiles{
	border-top: 1px solid #f2f2f2;
	padding-top: 20px;
	margin: 0px auto 20px;
	width: 250px;
	display: block;
	text-align: center;
}

.organization .social_profiles a{
	font-size: 35px;
	margin: 0 4px;
}

.organization h3{
	padding: 15px 0;
	font-size: 25px;
	color: #612D62;
}

/*
*   LAST PERSONS
* ============================ */

.last_persons{
	text-align: center;
}


.last_persons .person{
	padding: 20px 0;
	margin: 0 8px;
	width: 230px;
	display: inline-block;
	vertical-align: top;
	height: 510px;
	text-align: center;
}

/*
*   PERSON
* ============================ */

.person{
	padding: 20px 0;
}

.person figure{
	background: url("../img/thumbnail_person.jpg") no-repeat center;
	background-size: 100%;
	overflow: hidden;
	width: 200px;
	height: 200px;
	display: block;
	margin: 0 auto;
	border-radius: 100px;
	border: 10px solid #612D62;
	box-shadow: 0 0 2px 2px rgba(0,0,0,0.1);
}

.person figure img{
	width: 200px;
	height: 200px;
}

.person h2{
	padding: 15px 0;
	font-size: 25px;
	color: #612D62;
	font-family: 'open_sans-extrabold';
	display: block;
	text-align: center;
}

.person h2 a{
    font-family: 'open_sans-semibold';
}

.person .social_profiles{
	padding-top: 20px;
	margin: 0px auto 20px;
	width: 170px;
	display: block;
	text-align: center;
}

.person .social_profiles a{
	font-size: 35px;
	margin: 0 4px;
}

.person h3{
	padding: 15px 0;
	font-size: 25px;
	color: #612D62;
	text-align: center;
}

/*
*   LAST EVENTS
* ============================ */

.last_events {
	margin: 15px 0;
}

.last_events .post.event{
    padding:10px;
    height: 185px;
}

.last_events .post.event:nth-child(even){
    background:#f2f2f2;
}

.last_events .event_text,
.last_events .event_text p{
	margin: 0;
	font-size: 15px;
}


/*
*   EVENT
* ============================ */

.last_events .post.event figure{
    float:left;
    width:300px;
    height:164px;
    margin-right:20px;
}

.last_events .post.event figure img{
    width:300px;
    height:164px;
}

.post.event .event_info{
	border-top:1px solid #ddd;
	padding: 10px 0;
    font-size: 14px;
}

.last_events .post.event h2,
.last_events .post.event .event_info,
.last_events .post.event .even_text{
    margin: 0 0 13px 320px;
}

.last_events .post.event h2 a{
    font-size: 27px;
    display: block;
    margin-bottom: 6px;
    line-height: 31px;
}

.event_info .icon::before{
	color: #612D62;
	margin-right: 3px;
	position: relative;
	top: 1px;
}

.post.event .event_info > time,
.post.event .event_info > a,
.post.event .event_info address{
	margin-right:8px;
	color: #612D62;
}

.event_info address .icon::before{
	position:absolute;
	left:0;
	top: 2px;
}

.event_info address{
	text-align: left;
	display: inline-block;
	vertical-align: top;
	font-size:14px;
	position: relative;
	padding-left: 21px;
	margin-left: 10px;
}


/*
*   CONTACT INFO
* ============================ */


.contact_info .icon::before{
	color: #612D62;
	margin-right: 8px;
	font-size: 18px;
	position: relative;
	top: 3px;
}

#main_footer .contact_info .icon::before {
	color:#A2A2A2;
	font-style: normal;
}

.contact_info address span,
.contact_info address p,
.contact_info .direct_contact{
	margin: 0 0 0 26px;
}

.contact_info address p span,
.contact_info address,
.contact_info .direct_contact{
	display: inline-block;
	vertical-align: top;
	/* margin: 0; */
}

.contact_info address > span:first-child,
.contact_info address p span{
	margin: 5px 0;
}

.contact_info .icon{
	margin: 5px 0 9px;
	display: block;
	color: #333;
}

#main_footer .contact_info .icon,
#main_footer .contact_info span{
	color: #A0A4A9;
	font-size: 14px;
	line-height: 12px;
	font-style: italic;
}

/*
*   REDES SOCIALES CÃRCULO
* ============================ */

.rrss-circulo{
	position: absolute;
	right: 0;
	top: 0;
}

.rrss-circulo li {
	display: inline-block;
	vertical-align: top;
}

.rrss-circulo li a::before{
	font-size: 25px;
	color: #A0A4A9;

	margin: 0 4px;
}

.rrss-circulo li a{
	width: 25px;
	height: 25px;
	display: inline-block;
	vertical-align: top;
	margin: 0 3px;
	opacity: 1;
	-webkit-transition: opacity 200ms ease-in-out;
	-moz-transition: opacity 200ms ease-in-out;
	-ms-transition: opacity 200ms ease-in-out;
	-o-transition: opacity 200ms ease-in-out;
	transition: opacity 200ms ease-in-out;

}

.rrss-circulo li a:hover{
	opacity: 0.7;
}

/*
*   MAIN FOOTER
* ============================ */


#main_footer{
	background: #2C2F36;
	color: #A0A4A9;
	padding: 10px 0 5px;
	border-top: 4px solid #D1D1D1;
	position: relative;
}

#main_footer h1 a{
	color: #fff;
	font-family: 'open_sans-extrabold', sans-serif;
	font-size: 24px;
	margin-bottom: 5px;
	display: block;
}

#main_footer .legal{
    text-align: right;
}

#main_footer .legal a{
	display: inline-block;
	vertical-align: top;
	margin: 0 5px;
	color: #A0A4A9;
	text-transform: uppercase;
	font-size: 12px;
	-webkit-transition: color 200ms ease-in-out;
	-moz-transition: color 200ms ease-in-out;
	-ms-transition: color 200ms ease-in-out;
	-o-transition: color 200ms ease-in-out;
	transition: color 200ms ease-in-out;
}

#main_footer .legal a:hover {
	color: #FFF;
}


/*
*   FORMULARIO CONTACTO
* ============================ */


.wpcf7-form input[type="text"],
.wpcf7-form input[type="email"],
.wpcf7-form textarea{
	border: 1px solid #DADADA;
	display: block;
	width: 100%;
	border:none;
	background: #f5f5f5;
	padding: 15px
}

.wpcf7-form input,
.wpcf7-form textarea{
	border:none;
	font-size: 1.1em
}

.wpcf7-form-control-wrap {
    display: block !important;
}
.wpcf7-not-valid-tip {
    background: #C90F0F;
    color: #fff !important;
    font-weight: bold;
    padding: 10px 15px;
}

.wpcf7-mail-sent-ok {
	background: #579da5;
	border: 0px !important;
	font-weight: bold;
	text-align: center;
	color: #fff;
	padding: 10px !important;
}

.wpcf7-form.sent > p {
	display: none;
}

.wpcf7-form input[type="submit"]{

}


.input-custom_type {
	width: 100%;
	line-height: 30px;
	margin: 10px 0;
}


/*
*  COMPARTIR NOTICIA
* ============================ */

.share{
	text-align: center;
	padding: 30px 0 40px;
}

.stButton .stButton_gradient,
.stButton .stFb,
.stButton .stTwbutton,
.stButton .stMainServices{
	height: 22px !important;
}
/*
*  MENSAJE DE COOKIES
* ============================ */

.wrapperMensajeCookie{
	top:0;
	bottom: auto;
}