#pre_header{
	background: #2C2F36;
	padding: 7px 0;
	border-bottom: 1px solid #000;
}

#pre_header .logo-podemos{
	margin-right: 50px;
}
#pre_header .logo-podemos,
#pre_header nav,
#pre_header nav li{
	display: inline-block;
	vertical-align: middle;
	line-height: 20px;
}

#pre_header .logo-podemos img{
	width: 80px;
	position: relative;
	top: 2px;
}

#pre_header nav li{
	margin: 0 5px;
}

#pre_header nav a{
	display: inline-block;
	vertical-align: top;
	font-weight: bold;
	color: #A0A4A9;
	text-transform: uppercase;
	font-size: 14px;
	-webkit-transition: color 300ms ease-in-out;
	-moz-transition: color 300ms ease-in-out;
	-ms-transition: color 300ms ease-in-out;
	-o-transition: color 300ms ease-in-out;
	transition: color 300ms ease-in-out;
}

#pre_header nav a:hover {
	color: #FFF;
}

#pre_header .rrss-podemos a{
	height: 27px;
	width: 27px;
	display: block;
}

#pre_header .rrss-podemos .twitter{
	background: url('../img/ico_twitter.png') no-repeat;
}
#pre_header .rrss-podemos .fb{
	background: url('../img/ico_fb.png') no-repeat;
}
#pre_header .rrss-podemos .youtube{
	background: url('../img/ico_youtube.png') no-repeat;
}